body {
  background-color: #232424;
  margin: 0;
  padding: 0;
  height: 3000px;
  width: 100%;
  color: #e8f7f7;
  font-family: 'Inconsolata', sans-serif;
}

h1 {
  font-size: 48px;
}

#home {
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  min-height: 90vh; 
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}
.hidden:nth-child(2) {
  transition-delay: 600ms;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
